<div class="modal-header">
    <h4 class="modal-title pull-left">Course Detail Summary</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <mat-card class="tp-card">
        <mat-card-header>
            <mat-card-title>{{currentCourseTitle}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>Course Code : {{currentCourseCode}}</li>
                <li>Course Type : {{currentCourseType}}</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>